/* TedHelps.se Styles */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: #FFF;
  color: rgba(0, 0, 0, .87);
  font: 16px/24px BlinkMacSystemFont, -apple-system, “Segoe UI”,
                  Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  color: #906;
  font-weight: 600;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

article,
section {
  padding: 0 16px;
}

h1,
h2 {
  font-size: 28px;
  font-weight: 600;
  line-height: 32px;
  margin-top: 32px;
  margin-bottom: 0;
}

p {
  margin: 16px 0 0;
}

h1 + p,
h2 + p {
  margin-top: 8px;
}

.header {
  align-items: center;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .12);
  display: flex;
  justify-content: space-between;
  height: 44px;
  padding: 0 16px;
}

.logo {
  background-image: url(tedhelps-logo-simple.svg);
  background-size: cover;
  display: block;
  height: 18px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 80px;
}

.hero {
  background-color: #000;
  background-image:
    linear-gradient(
      rgba(0, 0, 0, .34),
      rgba(0, 0, 0, .34)
    ),
    url(hero-bg.jpg)
  ;
  background-position: center;
  background-size: cover;
  padding: 16px 16px 56px;
}

.footer {
  background-color: #906;
  color: #FFF;
  font-size: 14px;
  line-height: 20px;
  margin-top: 32px;
  padding: 16px;
}

.footer a {
  color: #FFF;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

.footer-icon {
  fill: #FFF;
  height: 28px;
  margin-right: 8px;
  margin-bottom: 6px;
}

.button {
  background-color: #906;
  border-radius: 4px;
  color: #FFF;
  display: inline-block;
  font-weight: bold;
  line-height: 44px;
  margin-top: 16px;
  padding: 0 16px;
}

.text-white { color: #FFF; }

@media only screen and (min-width: 480px) {
  body {
    font-size: 20px;
    line-height: 28px;
  }

  header,
  article,
  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 780px;
  }

  h1,
  h2 {
    font-size: 48px;
    line-height: 56px;
    margin-top: 48px;
  }

  h1 + p,
  h2 + p {
    margin-top: 16px;
  }

  .header {
    align-items: flex-end;
    height: 96px;
    padding-bottom: 16px;
  }

  .logo {
    background-image: url(tedhelps-logo-full.svg);
    height: 64px;
    width: 148px;
  }

  .hero {
    max-width: 100%;
    padding-top: 44px;
    padding-bottom: 88px;
  }

  .footer {
    margin-top: 48px;
  }

  .button {
    line-height: 64px;
    margin-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .startpage {
    text-align: center;
  }

  .startpage p {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }
}
